body{
   /* <span>Photo by <a href="https://unsplash.com/@sincerelymedia?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sincerely Media</a> on <a href="https://unsplash.com/s/photos/help?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
    background: url(../img/sincerely-media-EtyBBUByPSQ-unsplash\ copie.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content_section{
    width: 100%;
    margin: auto 0;
}

#content_section > h1 {
    position: absolute;
    top: 15%;
    width: 100%;
    margin: auto 0;
    text-align: center;
}

#content_section > a > h3 {
    font-size: 2rem;
    position: absolute;
    top: 80%;
    width: 100%;
    margin: auto 0;
    text-align: center;
}


.content_section_lien{

    position: absolute;
    top: 55%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}


.content_section_lien > a > h2{

   font-size: 2rem;
}

/* Sur les téléviseurs */
@media screen and (min-width:1919px) and (max-resolution:102dpi) {
    #content_section > a > h3 {
        font-size: 3rem;
        position: absolute;
        top: 80%;
        width: 100%;
        margin: auto 0;
        text-align: center;
    }
    
    
    .content_section_lien{
    
        position: absolute;
        top: 55%;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
    }
    
    
    .content_section_lien > a > h2{
    
       font-size: 3rem;
    }
    
}
/*
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:landscape) {

    
}
*/
@media only screen and (min-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) {
    #content_section > a > h3 {
        font-size: 1.7rem;
        position: absolute;
        top: 80%;
        width: 100%;
        margin: auto 0;
        text-align: center;
    }
    
   
.content_section_lien > a > h2{

    font-size: 1.7rem;
    color: #ffbc40;
 }
  

}

@media only screen

  and (min-device-width: 375px)

  and (max-device-width: 812px)

  and (orientation: landscape) {

    #content_section > a > h3 {
        font-size: 1.7rem;
        position: absolute;
        top: 80%;
        width: 100%;
        margin: auto 0;
        text-align: center;
    }
    
   
.content_section_lien > a > h2{

    font-size: 1.5rem;
    color:#ffbc40;
 }


}
@media screen and (max-width:480px) {
    #content_section > a > h3 {
        font-size: 1.7rem;
        position: absolute;
        top: 80%;
        width: 100%;
        margin: auto 0;
        text-align: center;
       
    }
    
   
.content_section_lien > a > h2{

    font-size: 1.5rem;
    color: #ffbc40;
 }
 
}