@font-face {
    font-family: "releway";
    src: url("fonts/Raleway/static/Raleway-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "archivo";
    src: url("fonts/Archivo/Archivo-Medium.ttf");
    font-display: swap;
}


html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);

}

h1,
h2,
h3,
h4,
label {
    margin: 0;
    font-family: 'releway', sans-serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

h5{
    margin: 0;
    font-family: 'releway', sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.952);
}


p {
    font-size: 1.2rem;
    font-family: 'archivo', sans-serif;
    color: rgba(255, 255, 255, 0.952);
    line-height: 1.4;
}

a {
    margin: 0;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'relaway', sans-serif;
    color: orange;
}

a > h2:hover, a > h3:hover {
    color: #11f5b8;
}

li {
    font-family: 'Archivo', sans-serif;
    color: rgba(255, 255, 255, 0.952);
}
/* Sur les téléviseurs */
@media screen and (min-width:1919px) and (max-resolution:102dpi) {
    h1,
    h2,
    h3,
    h4,
    label {
        margin: 0;
        font-family: 'releway', sans-serif;
        font-size: 3rem;
        color: rgb(255, 255, 255);
    }
    
    h5{
        margin: 0;
        font-family: 'releway', sans-serif;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    
    p {
        font-size: 1.5rem;
        font-family: 'archivo', sans-serif;
        color: rgba(255, 255, 255, 0.952);
        line-height: 1.4;
    }
    
    a {
        margin: 0;
        font-size: 1.6rem;
        text-decoration: none;
        font-family: 'relaway', sans-serif;
        color: orange;
    }
    
    a > h2:hover, a > h3:hover {
        color: #11f5b8;
    }
    
    li {
        font-family: 'Archivo', sans-serif;
        color: rgba(255, 255, 255, 0.952);
    }
}





@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:portrait) {
    h1,
    h2,
    h3,
    h4,
    label {
        margin: 0;
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.952);
    }
    h5 {
        margin: 0;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    
    p {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    a {
        font-size: 0.8rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.952);
    }
    
    a:hover {
        color: white;
    }
    
    li {
        color: rgba(255, 255, 255, 0.952);
    }
  
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation:landscape) {

    h1,
    h2,
    h3,
    h4,
    h5,
    label {
        margin: 0;
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.952);
    }

    h5 {
        margin: 0;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    
    p {
        font-size: 1rem;
       
        color: rgba(255, 255, 255, 0.952);
    }
    
    a {
        font-size: 1.1rem;
        text-decoration: none;
       
        color: rgba(255, 255, 255, 0.952);
    }
    
    a:hover {
        color: white;
    }
    
    li {
       
        color: rgba(255, 255, 255, 0.952);
    }
    
}


@media only screen

  and (min-device-width: 370px)

  and (max-device-width: 812px)

  and (orientation: landscape) {

    h1,
    h2,
    h3,
    h4,
    label {
        margin: 0;
        font-size: 1.9rem;
        color: rgba(255, 255, 255, 0.952);
    }
    h5 {
        margin: 0;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.952);
    }

}


@media screen and (max-width:480px) {

    h1,
    h2,
    h3,
    h4,
    label {
        margin: 0;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    h5 {
        margin: 0;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    p {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.952);
    }
    
    a {
        font-size: 1.1rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.952);
    }
    
    a:hover {
        color: white;
    }
    
    li {
        color: rgba(255, 255, 255, 0.952);
    }
}